fastapi
psycopg2-binary
boto3
uvicorn
APScheduler
requests
numpy
beautifulsoup4
presidio-analyzer
spacy
tqdm
python-docx
python-pptx
openpyxl
pdfplumber
reportlab
PyPDF2
xlrd
xlutils
PyMuPDF
watchtower
